name: pickup_delivery_service
description: pickup delivery service test
author: dwlee
priority: 10000
interactions: concert_common_test_services/pickup_delivery_service
parameters: concert_common_test_services/pickup_delivery_service
launcher_type: roslaunch
launcher: concert_common_test_services/pickup_delivery_service
