name: test_service
description: welcome for visitor
author: dwlee
priority: 10000
interactions: concert_common_test_services/test_service
parameters: concert_common_test_services/test_service
launcher_type: roslaunch
launcher: concert_common_test_services/test_service
