name: chatter_service
description: Chatter service
author: dwlee
priority: 10000
interactions: concert_common_test_services/chatter_service
parameters: concert_common_test_services/chatter_service
launcher_type: roslaunch
launcher: concert_common_test_services/chatter_service